[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/websocketpp"]
	path = deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "deps/opencv"]
	path = deps/opencv
	url = https://github.com/opencv/opencv.git
[submodule "deps/openvr"]
	path = deps/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "deps/leptonica"]
	path = deps/leptonica
	url = https://github.com/DanBloomberg/leptonica.git
[submodule "deps/tesseract"]
	path = deps/tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "deps/libremidi"]
	path = deps/libremidi
	url = https://github.com/jcelerier/libremidi.git
[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
