name: Check locale

on:
  push:
    branches:
      - master
    tags:
      - '*'
    paths:
      - 'data/locale/**'
  pull_request:
    branches:
      - master
    paths:
      - 'data/locale/**'

jobs:
  ubuntu64:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check locale files
        run: |
          python3 ./build-aux/CI/check-locale.py -p data/locale/
